<a href="https://colab.research.google.com/github/morethanoneofeverything/Udemy_Python/blob/main/Programming_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Split a string

In [ ]:
sentence = 'I am learning Python'

arr = sentence.split()
print(arr)
# ['I', 'am', 'learning', 'Python']

['I', 'am', 'learning', 'Python']

### 2. Find word regardless of capitalisation

In [ ]:
def contains_substring(sentence: str) -> bool:
    # TODO
    return 'python' in sentence.lower()

sentences = ['I am learning Python', 'I am learning python', 'Hello Word']

for sentence in sentences:
    if contains_substring(sentence):
        print(f'Found in "{sentence}"')
    else:
        print(f'Not found in "{sentence}"')
        
# Found in "I am learning Python"
# Found in "I am learning python"
# Not found in "Hello Word"'

Found in "I am learning Python"
Found in "I am learning python"
Not found in "Hello Word"

### 3. Decode from bytes

In [ ]:
bytes_to_convert = b"Python"
converted_str = bytes_to_convert.decode('utf-8')

print(converted_str)

# 'Python'

Python

### 4. Pull section from a string

In [ ]:
sentence = 'I love Python'
value = sentence[2:6]
print(value)
# 'love'

love

### 5. Returning a Palindrome

In [ ]:
def is_palindrom(word: str) -> bool:
    # TODO
    return word == word[::-1]

words = ['kajak', 'inni', 'ananas', 'radar']
for word in words:
    if is_palindrom(word):
        print(f'{word} is a palindrom')
    else:
        print(f'{word} is not a palindrom')
        
# kajak is a palindrom
# inni is a palindrom
# ananas is not a palindrom
# radar is a palindrom

kajak is a palindrom
inni is a palindrom
ananas is not a palindrom
radar is a palindrom

### 6. Formatting String - Align Right

In [ ]:
name = 'Mark'
# align_right = "______"+name

# better way to do this:
align_right = f'{name:_>10}'

print (align_right)
# '______Mark'

______Mark

### 7. Formatting String - Align Left

In [ ]:
name = 'Mark'
align_left = f'{name:.<10}'
print(align_left)
# 'Mark______'

Mark......

### 8. Formatting String - Centre

In [ ]:
name = 'Mark'
align_center =f'{name:*^8}'
print(align_center)
# '__Mark__'

**Mark**

### 9. Adding Strings together

In [ ]:
full_name_dict = {
    'first_name': 'Alice',
    'last_name': 'Smith'
}

full_name_str = '{first_name} {last_name}'.format(**full_name_dict)

print(full_name_str)
# 'Alice Smith'

Alice Smith

### 10. Convert Number to string with precision

In [ ]:
number = 15.987654321
new_number = f'{number:08.4f}'
# We can also specify the precision: the number of decimal places. 
# The precision is a value that goes right after the dot character.
# The "08" refers to the value that you want at the front (e.g. having a ). the number after the decimal is how many you want after 

print(new_number)
# '015.9877'

015.9877

### 11. Validating A string

A string is valid if it meets the following: 
Use "and" and "not' statements
- String cannot be empty
- string does not end with "em"
- String contains only lowercase letters
- string cannot contain a space character

In [ ]:
def is_string_valid(string: str) -> bool:
    # TODO
    return not string.endswith("em") and string.islower() and ' ' not in string 

sentences = ['abcdef', 'abcdem', 'abcfEd', 'ab cde', 'bbbbbb', '']

for sentence in sentences:
    if is_string_valid(sentence):
        print(f'"{sentence}" is valid')
    else:
        print(f'"{sentence}" is not valid')
        

# "abcdef" is valid
# "abcdem" is not valid
# "abcfEd" is not valid
# "ab cde" is not valid
# "bbbbbb" is valid
# "" is not valid

"abcdef" is valid
"abcdem" is not valid
"abcfEd" is not valid
"ab cde" is not valid
"bbbbbb" is valid
"" is not valid

### 12. Trim spaces
Use strip()

In [ ]:
word = ' hello   '
new_word = word.strip()

print(new_word)
# 'hello'

hello

### 13. Removing New Line Characters from a String

In [ ]:
import re

word = ' h\nel  lo_  \nwor  ld '
new_word = re.sub(r'[\s\n]', '', word)

# or new_world = word.replace(' ', ''). replace('\n', '')

print(new_word)
# 'hello_world'

hello_world

### 14. Get filename

In [ ]:
from pathlib import Path

path = '/home/user/dir/file.txt'
# file_name = path[-8:-4]
# better way below

file_name = Path(path).stem

print(file_name)
# 'file'

file

### 15. Counting occurences of characters/variables in strings

In [ ]:
text = '''Humpty Dumpty sat on a wall,
Humpty Dumpty had a great fall,
All the king's horses and all the king's men,
Couldn't put Humpty together again.'''

count = text.count("g")

print(count)
# 5

5

### 16. Create a function that determines if an object is a string.

In [ ]:
from typing import Any

def is_string(obj: Any) -> bool:
    # TODO
    return isinstance(obj, str)

arr = ['python', 22, ['elem'], '', {'elem'}, '323']

for obj in arr:
    if is_string(obj):
        print(f'"{obj}" is a string')
    else:
        print(f'"{obj}" is not a string')
        
# "python" is a string
# "22" is not a string
# "['elem']" is not a string
# "" is a string
# "{'elem'}" is not a string
# "323" is a string

"python" is a string
"22" is not a string
"['elem']" is not a string
"" is a string
"{'elem'}" is not a string
"323" is a string

### 17. Return unique words from a string to a list

Using Regular expressions
(import re)


*    for this one we want to create a list.

*    inside the list we want to set because although it's unordered it's removes duplicates

*    reg expression is to help remove and split at the appropriate times. 

1.   we want to first include the comma in the split (',\s') 
2.   OR (|) include any whitespace ('\s')
3.   OR (|) include the colon in the split (':\s')
4.   then have the variable that you are going to use

In [ ]:
import re

text = 'Humpty Dumpty: sat on a wall, Humpty Dumpty: had a great fall'
list_of_words = list(set(re.split(r',\s|\s|:\s', text)))

print(list_of_words)
# ['on', 'sat', 'Dumpty', 'Humpty', 'wall', 'great', 'fall', 'a', 'had']

['on', 'Dumpty', 'sat', 'fall', 'wall', 'a', 'had', 'Humpty', 'great']

### 18. Return digits EXCEPT for 8, convert to integer and put them in a list.


map() function


*function* -	Required. The function to execute for each item

*iterable* -	Required. A sequence, collection or an iterator object. You can send as many iterables as you like, just make sure the function has one parameter for each iterable.

In [ ]:
sentence = 'I 33lo2ve1 P7yt88ho5n!132'
digits = list(map(int, [char for char in sentence if char.isdigit() and char != 8]))

print(digits)
# [3, 3, 2, 1, 7, 5, 1, 3, 2]

[3, 3, 2, 1, 7, 8, 8, 5, 1, 3, 2]

### 19. Return digits with grouping and put them in a list

In [ ]:
import re

sentence = 'I 33lo2ve1 P7yt88ho5n!132'
digits = re.findall(r'\d+', sentence)

print(digits)
# ['33', '2', '1', '7', '88', '5', '132']

['33', '2', '1', '7', '88', '5', '132']

### 20. Change all digits and "P" character to "&"

use re

for sub:

Return the string obtained by replacing the leftmost
non-overlapping occurrences of the pattern in string by the replacement repl.  repl can be either a string or a callable; if a string, backslash escapes in it are processed.  If it is a callable, it's passed the Match object and must return a replacement string to be used.

In [ ]:
import re
sentence = 'I 33lo2ve1 P7yt88ho5n!132'
new_sentence = re.sub('[\dP]', '&', sentence)

print(new_sentence)
# 'I &&lo&ve& &&yt&&ho&n!&&&'

I &&lo&ve& &&yt&&ho&n!&&&

### 21. Remove all non digit characters

In [ ]:
import re

sentence = 'I 33lo2ve1 P7yt88ho5n!132'
new_sentence = re.sub(r'[^\d]', '', sentence)

print(new_sentence)
# '33217885132'

33217885132

### 22. Remove multiple spaces and leave a single space

sub(pattern, repl, string, count=0, flags=0)

In [ ]:
import re
text = 'Humpty      Dumpty sat  on   a            wall'
new_text = re.sub(r'\s\s+', ' ', text)

print(new_text)
# 'Humpty Dumpty sat on a wall'

Humpty Dumpty sat on a wall

### 23. Convert strings to integer

map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from each of the iterables.  Stops when the shortest iterable is exhausted.

In [ ]:
arr = ['1', '2', '3', '4']
arr = list(map(int, arr))

# or
# arr = list(map(int, arr))

print(arr)
# [1, 2, 3, 4]

[1, 2, 3, 4]

### 24. Divide numbers, with no decimal places

In [ ]:
num_1 = 14
num_2 = 5

num = int(num_1 / num_2)

print(num)

# 2

2

### 25. Round the number up in the variable

In [ ]:
import math
num = 8.4
num = math.ceil(num)

print(num)
# 9

9

### 26. Round to 3 decimal places

In [ ]:
num = 15.45874587
num = round(num, 3)

print(num)
# 15.459

15.459

### 27. Get the integer

In [ ]:
import math
num = 12.8
new_num = math.floor(num)

# or 
# new_num = int(num)
print(new_num)
# 12

12

### 28. Convert the negative number into a positive number

In [ ]:
num = -12.8
new_num = abs(num)

print(new_num)
# 12.8

12.8

### 29. Sum integers of numbers divisible by 2 and 3 from 1-100

In [ ]:
def get_sum_divided_by_2_and_3():
    # TODO
    return sum(number for number in range(1,100)
              if number % 2 == 0 and number % 3 == 0)

result = get_sum_divided_by_2_and_3()
print(result)
# 816

816

### 30. Create a list of Tuples


zip(*iterables) --> zip object

Return a zip object whose .next() method returns a tuple where the i-th element comes from the i-th iterable argument.  

The .next() method continues until the shortest iterable in the argument sequence is exhausted and then it raises StopIteration.

In [ ]:
first_names = ['Alice', 'Tom', 'John']
last_names = ['Smith', 'Brown', 'Thompson']

persons = list(zip(first_names, last_names))

print(persons)
# [('Alice', 'Smith'), ('Tom', 'Brown'), ('John', 'Thompson')]

[('Alice', 'Smith'), ('Tom', 'Brown'), ('John', 'Thompson')]

### 31. Swap the x & y variables around

In [ ]:
x = 'Python-XX'
y = 'Python-YY'
temp = x
x = y
y = temp

# or 
# x, y = y, x

print(x)
print(y)
# x
# 'Python-YY'

# y
# 'Python-XX'

Python-YY
Python-XX

### 32. Convert a list to a tuple and remove elements that are not integers

In [ ]:
arr = ['str', 24355, -3, [3, 3, 3], ('tuple,'), {1: 1}, {1, 2, 3}, 44]
numbers = tuple(item for item in arr if isinstance(item, int))

print(numbers)
# (24355, -3, 44)

(24355, -3, 44)

### 33. Sort a list of tuples by the first element (index 0)

Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the reverse flag can be set to request the result in descending order.

lambda and sorted is a simple way to sort tuples

In [ ]:
arr = [('Alice', 'Smith'), ('Tom', 'Brown'), ('John', 'Thompson'), ('Nina', 'Wood')]

sorted_arr = sorted(arr,key=lambda item: item [0]) 

print(sorted_arr)
# [('Alice', 'Smith'), ('John', 'Thompson'), ('Nina', 'Wood'), ('Tom', 'Brown')]

[('Alice', 'Smith'), ('John', 'Thompson'), ('Nina', 'Wood'), ('Tom', 'Brown')]

### 34. Unpack the first and last elements of the tuple to the respective variables. Then save the other numbers in a list.

In [ ]:
numbers = (24355, -3, 44, 45, 46, 47, 890)

# first = numbers[0]
# 24355
# last = numbers[-1]
# 890
# other_numbers = list(numbers[1:6])

# or
first, *other_numbers, last=numbers



print(first)
print(last)
print(other_numbers)
# [-3, 44, 45, 46, 47]

24355
890
[-3, 44, 45, 46, 47]

### 35. Convert the list of 2 item tuples to a list of tuples.

Where the first tuple contains the first item in each tuple and the second tuple holds the second item. 

zip(*iterables) --> zip object

Return a zip object whose .next() method returns a tuple where
the i-th element comes from the i-th iterable argument.  The .next()
method continues until the shortest iterable in the argument sequence
is exhausted and then it raises StopIteration.

In [ ]:
arr_of_tuples = [('Alice', 'Smith'), ('Tom', 'Brown'), ('John', 'Thompson')]

new_arr = list(zip(*arr_of_tuples))

print(new_arr)
# [('Alice', 'Tom', 'John'), ('Smith', 'Brown', 'Thompson')]

[('Alice', 'Tom', 'John'), ('Smith', 'Brown', 'Thompson')]

### 36. Check if 2 tuples are equal

In [ ]:
def are_tuples_the_same(t1: tuple, t2: tuple) -> bool:
    # TODO
    return t1 == t2
    

arr_1 = [(1, 1), ('x', 'y', 'z'), ('t', 22, 45, 'vv'), ('python',)]
arr_2 = [(1, 1), ('a', 'b', 'c'), ('t', 22, 45, 'vv'), ('Python',)]

for t1, t2 in zip(arr_1, arr_2):
    if are_tuples_the_same(t1, t2):
        print(f'Tuple {t1} and {t2} are the same')
    else:
        print(f'Tuple {t1} and {t2} contains different elements')
  

print(are_tuples_the_same)  
# Tuple (1, 1) and (1, 1) are the same
# Tuple ('x', 'y', 'z') and ('a', 'b', 'c') contains different elements
# Tuple ('t', 22, 45, 'vv') and ('t', 22, 45, 'vv') are the same
# Tuple ('python',) and ('Python',) contains different elements

Tuple (1, 1) and (1, 1) are the same
Tuple ('x', 'y', 'z') and ('a', 'b', 'c') contains different elements
Tuple ('t', 22, 45, 'vv') and ('t', 22, 45, 'vv') are the same
Tuple ('python',) and ('Python',) contains different elements
<function are_tuples_the_same at 0x7f38a27e0200>

### 37. Check if there is a specific parameter in a tuple

any(iterable)

Return True if bool(x) is True for any x in the iterable.

If the iterable is empty, return False.

In [ ]:
def is_any_element_true(items: tuple) -> bool:
    # TODO
    return any(items)

arrays = [(0, [], 1), ('', True), ('a', {}, 4), (0, False, '')]

for items in arrays:
    if is_any_element_true(items):
        print(f'At least one item in {items} is True')
    else:
        print(f'No items in {items} are True')
        
# At least one item in (0, [], 1) is True
# At least one item in ('', True) is True
# At least one item in ('a', {}, 4) is True
# No items in (0, False, '') are True

At least one item in (0, [], 1) is True
At least one item in ('', True) is True
At least one item in ('a', {}, 4) is True
No items in (0, False, '') are True

### 38. Amend item in a list

In [ ]:
arr = [1, 2, 3]
arr[2] = 0

print(arr)
# [1, 2, 0]

[1, 2, 0]

### 39. Create new list with only last 2 variables

In [ ]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]

new_arr = (arr[-2:])

print(new_arr)
# [8, 9]

[8, 9]

### 40. Amend list with only first 5 variables

In [ ]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]

new_arr = (arr[:5])
print(new_arr)
# [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

### 41. Amend the list with only the 4th, 5th & 6th elements

In [ ]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]

new_arr = arr[3:6]

print(new_arr)
# [4, 5, 6]

[4, 5, 6]

### 42. Amend the list to display only odd elements

The syntax is string[start:end:step]

In [ ]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]

new_arr = arr[::2]

print(new_arr)
# [1, 3, 5, 7, 9]

[1, 3, 5, 7, 9]

### 43. Reverse the string

In [ ]:
arr = [1, 8, 3, 7, 5, 6, 7, 7, 2]

new_arr = arr[::-1]

print(new_arr)
# [2, 7, 7, 6, 5, 7, 3, 8, 1]

[2, 7, 7, 6, 5, 7, 3, 8, 1]

### 44. Check to see if a list is empty

In [ ]:
def is_list_empty(arr: list) -> bool:
    # TODO
    return not bool(arr)

arrays = [[1, 2, 3], ['item'], []]

for arr in arrays:
    if is_list_empty(arr):
        print(f'{arr} is a empty list')
    else:
        print(f'{arr} contains elements')
        
# [1, 2, 3] contains elements
# ['item'] contains elements
# [] is a empty list

[1, 2, 3] contains elements
['item'] contains elements
[] is a empty list

### 45. Join 2 lists together

In [ ]:
arr_1 = [1, 2]
arr_2 = [3, 4, 5]

new_arr = arr_1 + arr_2

print(new_arr)
# [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

### 46. Join arr1 to arr2

The *extend()* method is used to add one list to the other

In [ ]:
arr_1 = [3, 4]
arr_2 = [1, 2]

arr_2 = arr_2 + arr_1

# or 
# arr_2.extend(arr_1)

print(arr_2)
# [1, 2, 3, 4]

[1, 2, 3, 4]

### 47. Copy the list as a new variable (shallow copy)

In [ ]:
arr = [1, 2]

new_arr = arr.copy()

print(new_arr)
# [1, 2]

### 48. Copy the list as a new variable (deep copy)


Generic (shallow and deep) copying operations.

Interface summary:

    import copy

    x = copy.copy(y)        # make a shallow copy of y
    x = copy.deepcopy(y)    # make a deep copy of y
For module specific errors, copy.Error is raised.

The difference between shallow and deep copying is only relevant for
compound objects (objects that contain other objects, like lists or
class instances).


A shallow copy constructs a new compound object and then (to the
extent possible) inserts the same objects into it that the
original contains.


A deep copy constructs a new compound object and then, recursively,
inserts copies into it of the objects found in the original.



Two problems often exist with deep copy operations that don't exist
with shallow copy operations:

 a) recursive objects (compound objects that, directly or indirectly,
    contain a reference to themselves) may cause a recursive loop

 b) because deep copy copies everything it may copy too much, e.g.
    administrative data structures that should be shared even between
    copies

Python's deep copy operation avoids these problems by:

 a) keeping a table of objects already copied during the current
    copying pass

 b) letting user-defined classes override the copying operation or the
    set of components copied

This version does not copy types like module, class, function, method,
nor stack trace, stack frame, nor file, socket, window, nor array, nor
any similar types.

Classes can use the same interfaces to control copying that they use
to control pickling: they can define methods called getinitargs(),
getstate() and setstate().  See the documentation for module
"pickle" for information on these methods.

In [ ]:
import copy

arr = [1, [2]]

new_arr = copy.deepcopy(arr)

print(new_arr)
# [1, [2]]

[1, [2]]

### 49. Length of List

In [ ]:
arr = [1, 2, 3, 4]

arr_length = len(arr)

print(arr_length)
# 4

4

### 50. Count occurrences of '2' in the list

In [ ]:
arr = [1, 2, 3, 4, 2, 5, 5, 2]

count = arr.count(2)

print(count)
# 3

3

### 51. Remove the final element and save it as a separate variable

In [ ]:
arr = [1, 2, 3]

last_item = arr.pop(2)

print(arr)
print(last_item)
# arr
# [1, 2]

# last_item
# 3

[1, 2]
3

### 52. Remove the element with the value '2' from the list

In [ ]:
arr = [1, 2, 3, 4]

del arr[1]
# or 
# arr.pop(1)

print(arr)
# [1, 3, 4]

[1, 3, 4]

### 53. Sort list in decending order

In [ ]:
arr = [2, 6, 4, 9]

arr.sort(reverse=True)
print(arr)
# [9, 6, 4, 2]

[9, 6, 4, 2]

### 54. Create a new list of only unique values that are ordered

set(*args, **kwargs)

set() -> new empty set object

set(iterable) -> new set object



Build an unordered collection of unique elements.

In [ ]:
arr = [4, 2, 1, 1, 3, 2, 1, 3, 4, 4, 4, 3]

new_arr = list(set(arr))

print(new_arr)
# [1, 2, 3, 4]

[1, 2, 3, 4]

### 55. Remove the elemends with the value 1 and 3 from the list

In [ ]:
arr = [4, 2, 1, 1, 3, 2, 1, 3, 4, 4, 4, 3]

arr = [x for x in arr if x != 1 and x != 3]

print(arr)
# [4, 2, 2, 4, 4, 4]

[4, 2, 2, 4, 4, 4]

### 56. Create a list where the elements from the first array are not present in the second array

In [ ]:
arr_1 = [1, 2, 3, 4]
arr_2 = [3, 4, 6]

difference = list(set(arr_1) - set(arr_2))

# or
# difference = [item for item in arr_1 if item not in arr_2]

print(difference)
# [1, 2]

[1, 2]

### 57. Convert list to string, with elements separated by a comma and space

In [ ]:
arr = ['Alice', 'Tom', 'John']

names = ', '.join(arr)

print(names)
# 'Alice, Tom, John'

Alice, Tom, John

### 58. Remove empty Strings from list

In [ ]:
arr = ['Alice', '', 'Tom', 'John', '']

arr = list(filter(None, arr))

# or
# arr = [item for item in arr if item]

print(arr)
# ['Alice', 'Tom', 'John']

['Alice', 'Tom', 'John']

### 59. find the smallest number in the list and save it as new variable

In [ ]:
arr = [104, -60, 0, 399, -30, -5]

smallest_number = min(arr)

print(smallest_number)

# -60

-60

### 60. Check if all elements of a given list are true

In [ ]:
def are_elements_true(arr: list) -> bool:
    # TODO
    return all(arr)
    
arrays = [[0, True, 1], [22, True], ['a', 'b', 4]]

for arr in arrays:
    if are_elements_true(arr):
        print(f'All items in {arr} are "True"')
    else:
        print(f'Some items in {arr} are "False"')

Some items in [0, True, 1] are "False"
All items in [22, True] are "True"
All items in ['a', 'b', 4] are "True"

### 61. Find all numbers that are greater than 25

In [ ]:
numbers = [88, 45, 4, 7, 98, 34, 21, 18, 14, 55, 48, 1]

new_numbers = [i for i in numbers if i > 25]

print(new_numbers)
# [88, 45, 98, 34, 55, 48]

[88, 45, 98, 34, 55, 48]

### 62. Find the average of the list and round to 2 decimal places

In [ ]:
import statistics

arr = [6, 4, 56, 34, 23, 78, 1, 34, 17]

mean = round(statistics.mean(arr), 2)

# 28.11

print(mean)

28.11

### 63. Find the duplicates in the array and create a list

In [ ]:
from collections import Counter

arr = ['a', 11, 14, 11, 'a', 'a', 'f', 4, 4, 'a', 6, 8, 8, 8]

duplicates = [key for key, value in Counter(arr).items() if value >1]

print(duplicates)
# ['a', 11, 4, 8]

['a', 11, 4, 8]

### 64. Get all indicies from the list for elements that have a value greater than 2

enumerate(*args, **kwargs)

Return an enumerate object.

  iterable
    an object supporting iteration

The enumerate object yields pairs containing a count (from start, which
defaults to zero) and a value yielded by the iterable argument.

enumerate is useful for obtaining an indexed list:
    (0, seq[0]), (1, seq[1]), (2, seq[2]), ...

In [ ]:
arr = [5, 4, 2, 7, 6, 2, 2, 1, 1, 2]

indexes = [i for i, item in enumerate(arr) if item == 2]

print(indexes)
# [2, 5, 6, 9]

[2, 5, 6, 9]

### 65. Create a list of even numbers in the range 16-76

In [ ]:
numbers = list(range(16, 77, 2))
print(numbers)
# [16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76]

[16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76]

### 66. Get values from a dictionary and place in a list

In [ ]:
names_dict = {
    1: 'Anna',
    2: 'Tom',
    3: 'Alice',
    4: 'Mark'
}

names = list(names_dict.values())

# ['Anna', 'Tom', 'Alice', 'Mark']
print(names)

['Anna', 'Tom', 'Alice', 'Mark']

### 67. Add 10 to each element in the list

In [ ]:
numbers = [5, 4, 7, 8, 22, 567]

numbers = list([x+10 for x in numbers])

# or
# list(map(lambda num: num + 10, numbers))

# [15, 14, 17, 18, 32, 577]
print(numbers)

[15, 14, 17, 18, 32, 577]

### 68. Create new list from given list. All elements must be in the same order as in the original list

In [ ]:
arr = [4, 7, 15, 4, 4, 56, 6, 6, 89, 15, 111]

new_arr = list(dict.fromkeys(arr))

# or
#new_arr = []
#for item in arr:
 #   if item not in new_arr:
  #      new_arr.append(item)

print(new_arr)
# [4, 7, 15, 56, 6, 89, 111]

[4, 7, 15, 56, 6, 89, 111]

### 69. Make a flat list out of a list of lists.

In [ ]:
arr = [[1, 2], [3], [4, 5, 6, 7], [8, 9]]

merged_arr = [j for i in arr for j in i]

print(merged_arr)


# or
# import itertools
# arr = [[1, 2], [3], [4, 5, 6, 7], [8, 9]]
# merged_arr = list(itertools.chain.from_iterable(arr))

# [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 70. Sort the list based on age attribute in decending order

In [ ]:
class Person:
    def __init__(self, name: str, age: int):
        self.name = name
        self.age = age
        
    def __repr__(self):
        return f'{self.name} - {self.age}'


p1 = Person('Tom', 34)
p2 = Person('Alice', 28)
p3 = Person('John', 37)


arr = [p1, p2, p3]

arr.sort(key=lambda x: x.age, reverse=True)
print(arr)
# [John - 37, Tom - 34, Alice - 28]

[John - 37, Tom - 34, Alice - 28]

### 71. Add the new numbers list to the numbers set. the order does not matter

In [ ]:
numbers = {1, 2, 3}
new_numbers = [6, 7]

numbers.update(new_numbers)

print(numbers)
# {1, 2, 3, 6, 7}
# The order of elements does not matter.

{1, 2, 3, 6, 7}

### 72. Add the new numbers list to the numbers set. the order does not matter

In [ ]:
numbers = {1, 2, 3}
new_numbers = {6, 7}

numbers.update(new_numbers)

#or 
#numbers |= new_numbers

print(numbers)
# {1, 2, 3, 6, 7}
# The order of elements does not matter.

{1, 2, 3, 6, 7}

### 73. Find the intersection of 3 different sets.

In [ ]:
numbers_a = {10, 10, 20, 30}
numbers_b = {5, 10, 30, 2000}
numbers_c = {'5', 10, 30, 45.5, '2000'}

numbers = set.intersection(numbers_a, numbers_b, numbers_c)
# or
# numbers = numbers_a & numbers_b & numbers_c

print(numbers)
# {10, 30}
# The order of elements does not matter

{10, 30}

### 74. Create the Numbers set with all elements from the given sets.

In [ ]:
numbers_a = {10, 10, 20, 30}
numbers_b = {5, 10, 30, 2000}
numbers_c = {'5', 10, 30, 45.5, '2000'}

numbers = set.union(numbers_a, numbers_b, numbers_c)
# or 
# numbers_a | numbers_b | numbers_c

print(numbers)
# {5, 10, 45.5, 2000, 20, '5', '2000', 30}
# The order of elements does not matter

{5, 10, '5', 45.5, 2000, 20, 30, '2000'}

### 75. Create a new set with only the unique elements from the given sets

In [ ]:
numbers_a = {10, 10, 20, 30}
numbers_b = {5, 10, 30, 2000}

numbers = set(numbers_a)^set(numbers_b)

# or 
# numbers = numbers_a ^ numbers_b
# or
# numbers = set.symmetric_difference(numbers_a, numbers_b)

print(numbers)
# {5, 2000, 20}
# The order of elements does not matter

{5, 2000, 20}

### 76. Check if all elements are in the "Test Numbers" set

In [ ]:
test_numbers = {1, 4, 6, 8, 13, 14, 17, 22, 24}

def are_elements_in_test_numbers(numbers: set) -> bool:
    # TODO
    return numbers <= test_numbers 
    # or
    # return numbers.issubset(test_numbers)
    
arr = [{100}, {8, 13, 24}, {4, 17}, {4, 7, 8, 13}]

for numbers in arr:
    if are_elements_in_test_numbers(numbers):
        print(f'All elements of {numbers} are in test_numbers set')
    else:
        print(f'Not every element of {numbers} is in test_numbers set')

Not every element of {100} is in test_numbers set
All elements of {8, 24, 13} are in test_numbers set
All elements of {17, 4} are in test_numbers set
Not every element of {8, 4, 13, 7} is in test_numbers set

### 77. Return the value of the key 'name' in a given dictionary. If no such key exists then return the string "Unknown Name"

In [ ]:
def get_name(dictionary: dict) -> str:
    # TODO
    return dictionary.get('name', 'Unknown name')

arr = [
    {
        'name': 'John',
        'age': 25
    },
    {
        'age': 20
    },
    {
        'name': 'Tom',
        'age': 38
    },
    {}
]

for dictionary in arr:
    print(get_name(dictionary))

# John
# Unknown name
# Tom
# Unknown name

John
Unknown name
Tom
Unknown name